@using AinAlfahd.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ShippingBatch>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between flex-row-reverse">
    <h1 class="text-center my-4" style="color: #4CAF50; font-weight: bold;">الوجبات</h1>
    <a class="btn btn-warning m-3" asp-area="Admin" asp-controller="ShippingBatch" asp-action="AddShippingBatch">
        إضافة
    </a>
</div>
<div class="text-black-50 text-center m-3">@TempData["msg"]</div>
<div class="border rounded shadow-lg" style="max-height: 38vh; overflow-y: auto; border-color: #4CAF50;">
    <table class="table table-hover table-bordered mb-0">
        <thead style="position: sticky; top: 0; background: linear-gradient(90deg, #4CAF50, #2E7D32); color: #fff; z-index: 999;">
            <tr>
                <th class="text-center" style="width: 20%;">تعديلات</th>
                <th class="text-end">التكلفة بالدولار</th>
                <th class="text-end">نوع الشحن</th>
                <th class="text-end">تاريخ ادخال الوجبة</th>
                <th class="text-end">تاريخ وصول الوجبة</th>
                <th class="text-end">تاريخ الشحن من دبي</th>
            </tr>
        </thead>
        <tbody class="foooor" style="background-color: #F1F8E9;">
            @foreach (var shipping in Model)
            {
                <tr>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-outline-primary btn-sm mx-1" asp-action="AddShippingBatch" asp-route-iid="@shipping.ShippingBatchId">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a class="btn btn-outline-danger btn-sm mx-1" asp-action="DeleteData" asp-route-iiid="@shipping.ShippingBatchId">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                    @if(@shipping.batchCostUS != null)
                    {
                        <td class="text-end" style="color: #388E3C; font-weight: bold;">@shipping.batchCostUS$</td>
                    }
                    else
                    {
                        <td class="text-end" style="color: #388E3C; font-weight: bold;">@shipping.batchCostUS</td>
                    }
                    
                    <td class="text-end" style="color: #388E3C; font-weight: bold;">@shipping.ShippingTypes.Description</td>
                    <td class="text-end" style="color: #388E3C; font-weight: bold;">@shipping.EntryDate?.ToString("yyyy-MM-dd")</td>
                    <td class="text-end" style="color: #388E3C; font-weight: bold;">@shipping.ArrivelDate?.ToString("yyyy-MM-dd")</td>
                    <td class="text-end" style="color: #388E3C; font-weight: bold;">@shipping.ShippingDate?.ToString("yyyy-MM-dd")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

