@using AinAlfahd.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Category>
@{
    ViewData["Title"] = "delCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}

<h3 class="bg-light p-2 text-center">جدول الفئات</h3>
<h3 class="bg-light p-3 text-center">@TempData["message"]</h3>

<div class="border border-dark col-md-11" style="max-height: 38vh; overflow-y: auto;">
    <table class="table table-bordered table-striped">
        <thead class="thead-light" style="position: sticky; top: 0; background-color: gray; z-index: 999;">
            <tr>
                <th class="text-end m-1" style="background-color: gray;">تعديلات</th>
                <th class="text-end m-1" style="background-color: gray;">اسم الفئة</th>
            </tr>
        </thead>
        <tbody class="foooor">
            @foreach (var category in Model)
            {

                <tr>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-danger m-1" asp-action="deleteCategory" asp-route-iidd="@category.CategoryId"><i class="fas fa-trash"></i></a>
                        @if(category.CategoryId != null)
                        {
                            <a class="btn btn-info  m-1" asp-action="AddSubCategory" asp-route-id="@category.CategoryId"><i class="fas fa-edit"></i></a>
                        }else{
                            <a class="btn btn-info  m-1" asp-action="AddCategory" asp-route-id="@category.CategoryId"><i class="fas fa-edit"></i></a>
                        }
                        
                    </td>


                    <td class="text-end m-1 p-2">@category.CategoryName</td>

                </tr>
            }
        </tbody>
    </table>
</div>


