@using AinAlfahd.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model OrderDetail
@{
    ViewData["Title"] = "InsertItemToSys";
    Layout = "_Layout";
}

<h1 class="p-2 bg-light text-center mb-5">إضافة منتج الى المخزن</h1>

<div class="d-flex justify-content-center my-3">
    <div class="col-md-8 d-flex justify-content-center">
        <div class="input-group w-100 border rounded p-2">
            <input id="SKUFORSEARCH" type="text" class="form-control me-3" placeholder="أدخل الكود" aria-label="SKU" />
            <button class="btn btn-primary" onclick="search()">بحث</button>
        </div>
    </div>
</div>




<div class="col-12 d-flex justify-content-center" style="height:80%;">

    <div class="col-md-8 p-1 m-2 mt-5">

        <form asp-action="SaveOrderDetails" method="post">
            <div class="row col-md-12">
                <div class="row col-md-7">
                    <div class="row col-md-10">
                        <div class="mb-3 col-md-4">
                            <label asp-for="@Model.ItemCode" class="form-label">رمز القطعة</label>
                            <input id="ItemCode" readonly type="text" asp-for="@Model.ItemCode" class="form-select" required>
                            <span asp-validation-for="ItemCode" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-md-5">
                            <label asp-for="Size" class="form-label">الحجم</label>
                            <select id="Sizeselect" asp-for="@Model.Size" class="form-select" required>
                                <option value="">اختر الحجم</option>
                            </select>
                            <span asp-validation-for="Size" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3 col-4">
                        <label asp-for="@Model.OrderNo" class="form-label">رقم الطلب</label>
                        <input asp-for="@Model.OrderNo" class="form-control" type="text" required placeholder="رقم الطلب">
                        <span asp-validation-for="@Model.OrderNo" class="text-danger"></span>
                    </div>



                    <div class="text-center col-4 mt-5">
                        <button type="submit" class="btn btn-primary col-12">حفظ</button>
                    </div>
                    <input hidden id="Categg" readonly type="text" class="form-select">
                </div>

                <div class="row col-md-4 p-2">
                    <img id="imgItem" src="default.jpg" alt="Item Image" style="width:80%; height: 100%" />

                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    <script>

        function search() {
            var skuToSearch = $('#SKUFORSEARCH').val();
            const apiUrl = `/Admin/Order/GetItemData`;
            $.ajax({
                url: apiUrl,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(skuToSearch),
                success: function (response) {

                    if (response) {
                        console.log("Item Data: ", response);
                        $('#Categg').val(response.categoryId).trigger('change');
                        $('#ItemCode').val(response.id);
                        $('#imgItem').attr('src', response.imgUrl);
                    } else {
                        console.log("No Item Data found");
                        alert('لم يتم العثور على عنصر مطابق .');
                    }

                },
                error: function (xhr, status, error) {
                    console.error(`Error: ${xhr.status} - ${xhr.statusText}`);
                    alert('خطأ اثناء جلب العنصر.');
                }
            });
        }

        $('#Categg').change(function () {
            var selectedValue = $(this).val();

            const apiUrl = `/Admin/Order/GetSizes`;
            $.ajax({
                url: apiUrl,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(selectedValue),
                success: function (response) {

                    if (response && Array.isArray(response)) {

                        response.forEach(function (item) {
                            $('#Sizeselect').append('<option value="' + item.description + '">' + item.description + '</option>');
                        });
                    } else {
                        console.log("No data");
                    }
                    

                },
                error: function (xhr, status, error) {
                    console.error(`Error: ${xhr.status} - ${xhr.statusText}`);
                    alert('خطأ اثناء جلب المقاسات');
                }
            });

        });


    </script>
}


