@using AinAlfahd.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Reciept
@{
    ViewData["Title"] = "AddReciept";
    Layout = "_Layout";
}
<style>
    .table td:hover {
        background-color: #f0f8ff;
        cursor: pointer;
    }
    
</style>
<h2 class="mb-4">إدخال وصل استلام</h2>
<hr />
<h4 class="text-danger">@TempData["error"]</h4>
<br />
<br />
<form asp-action="SaveRe" method="post">
    <input hidden asp-for="@Model.RecieptId" class="form-control" />
    <input hidden id="exch" value="@ViewBag.ex" class="form-control" />
    <div class="row col-12 d-flex justify-content-between">
        <div class="col-md-8">
            <div class="row">

                <div class="form-group mb-3 col-md-3">
                    <label asp-for="@Model.Weight" class="form-label text-start">الوزن</label>
                    <div class="d-flex justify-content-start">
                        <input id="Weight1" style="width:80px" asp-for="@Model.Weight" class="form-control" />
                        <input readonly value="KG" class="border-0 form-control ms-2" style="width:50px" />
                    </div>
                    <span asp-validation-for="@Model.Weight" class="text-danger"></span>
                </div>

                <div class="form-group mb-1 col-md-3">
                    <label class="form-label text-end">تكلفة الواحدة</label>
                    <div class="d-flex justify-content-start">
                        <input readonly value="$5" class="border-1 form-control text-center ms-1" style="width:80px" />
                    </div>
                </div>

                <div class="form-group mb-3 col-md-2">
                    <label asp-for="@Model.Cost" class="form-label text-end">الكلفة</label>
                    <input id="Cost1" readonly asp-for="@Model.Cost" class="form-control" />
                    <span asp-validation-for="@Model.Cost" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-md-2">
                    <label asp-for="@Model.DisCount" class="form-label text-end">الخصم</label>
                    <input id="DisCount" asp-for="@Model.DisCount" class="form-control" />
                    <span asp-validation-for="@Model.DisCount" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-md-2">
                    <label asp-for="@Model.Currency" class="form-label text-end">العملة</label>
                    <input readonly id="Currency" asp-for="@Model.Currency" class="form-control" />
                    <span asp-validation-for="@Model.Currency" class="text-danger"></span>
                </div>

            </div>

            <div class="row">

                <div class="form-group mb-3 col-md-12">
                    <label asp-for="@Model.RecieptDate" class="form-label text-end">تاريخ الوصل</label>
                    <input asp-for="@Model.RecieptDate" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-dd-MM")" />
                    <span asp-validation-for="@Model.RecieptDate" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group mb-3 col-md-4">
                    <input hidden id="CustomerId11" readonly asp-for="@Model.CustomerId" class="form-control" />
                </div>
                <div class="form-group mb-3 col-md-12">
                    <label class="form-label text-start">اسم العميل</label>
                    <input id="CusName" readonly class="form-control" />
                </div>
            </div>

            <div class="row mt-4">
                <div class="form-group mb-3 col-md-2">
                    <label  class="form-label text-start">سعر الصرف</label>
                    <input readonly value="@{@ViewBag.ex} IQ" class="form-control" />
                </div>
                <div class="form-group mb-3 col-md-3">
                    <label class="form-label text-start">تكلفة الواحدة</label>
                    <input readonly value="$8" style="width:100px" class="form-control text-center" />
                </div>

                <div class="form-group mb-3 col-md-2">
                    <label asp-for="@Model.SellingPrice" class="form-label text-start">سعر المبيع</label>
                    <input id="SellingPrice1" readonly asp-for="@Model.SellingPrice" class="form-control" />
                    <span asp-validation-for="@Model.SellingPrice" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-md-2">
                    <label asp-for="@Model.SellingDisCount" class="form-label text-end">التعديلات</label>
                    <input readonly id="SellingDisCount" asp-for="@Model.SellingDisCount" class="form-control" />
                    <span asp-validation-for="@Model.SellingDisCount" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-md-2">
                    <label asp-for="@Model.TotalPriceFromCust" class="form-label text-end">المبلغ</label>
                    <input id="costtocust" asp-for="@Model.TotalPriceFromCust" class="form-control" />
                    <span asp-validation-for="@Model.TotalPriceFromCust" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 col-md-1">
                    <label asp-for="@Model.SellingCurrency" class="form-label text-end">العملة</label>
                    <input readonly id="SellingCurrency" asp-for="@Model.SellingCurrency" class="form-control" />
                    <span asp-validation-for="@Model.SellingCurrency" class="text-danger"></span>
                </div>
                <div class="form-group m-1 form-check col-md-2 d-flex justify-content-end align-items-center">
                    <input asp-for="@Model.IsFinanced" class="form-check-input me-2 ms-1" type="checkbox" />
                    <label asp-for="@Model.IsFinanced" class="form-check-label">تم الدفع</label>
                    <span asp-validation-for="IsFinanced" class="text-danger ms-2"></span>
                </div>
                <div hidden class="form-group m-1 form-check col-md-2 d-flex justify-content-end align-items-center">
                    <input hidden asp-for="@Model.CurrentState" class="form-check-input me-2 ms-1" type="checkbox" checked />
                    <label asp-for="@Model.CurrentState" class="form-check-label">الحالة</label>
                    <span asp-validation-for="CurrentState" class="text-danger ms-2"></span>
                </div>
            </div>
            <div class="row m-3">
            </div>

            <div class="row col-12 mt-12">
                <div class="col-md-12 text-start">
                    <button type="submit" class="btn col-md-12 btn-primary">حفظ</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="container mt-5">
                <div class="row justify-content-center">
                    <h5 class="text-center mb-5">أدخل اسم العميل او رقم الجوال للبحث</h5>
                    <div class="col-md-10">
                        <div class="d-flex justify-content-end">
                            <input id="wordForSearch" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="button" onclick="Search()">Search</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5" style="max-height: 300px; overflow-y: auto;">
                <table class="table table-bordered table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-end m-1">اسم العميل</th>
                            <th class="text-end m-1">معرف العميل</th>
                        </tr>
                    </thead>
                    <tbody class="table tbody">
                    </tbody>
                </table>
            </div>
        </div>
 </div>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
        console.log("jQuery is loaded and ready!");
            $('#SellingCurrency').val("IQ");
            $('#Currency').val("$");
        });

        $('#Weight1').on('input change', function () {
            $('#Cost1').val(0);
            $('#DisCount').val(0);
            $('#SellingPrice1').val(0);

            const Weight = $('#Weight1').val();
            const exch = $('#exch').val();

            $('#Cost1').val(+Weight * 5).trigger('change');
            $('#SellingPrice1').val(+Weight * 8 * exch).trigger('change');
        });

        $('#DisCount').on('input change', function () {
            const Weight = $('#Weight1').val();
            const DisCount = $('#DisCount').val();
            $('#Cost1').val(0);
            $('#Cost1').val(+Weight * 5 - DisCount).trigger('change');
        });

        $('#costtocust').on('input change', function () {
            $('#SellingPrice1').val(0);
            const Weight = $('#Weight1').val();
            const exch = $('#exch').val();
            $('#SellingPrice1').val(+Weight * 8 * exch).trigger('change');

            const sell = $('#SellingPrice1').val();
            const total = $('#costtocust').val();

            $('#SellingDisCount').val(total - sell).trigger('change');
        });

        $('#costtocust').on('input blur', function () {
            const total = parseFloat($('#costtocust').val());
            if (isNaN(total) || total === 0) {
                $('#SellingDisCount').val(0).trigger('change');
            }
        });

        $('#DisCount').on('input blur', function () {
            const DisCount = parseFloat($('#DisCount').val());
            if (isNaN(DisCount) || DisCount === 0) {
                $('#DisCount').val(0).trigger('change');
            }
        });


        $('#costtocust').on('input blur', function () {
            const costtocust = parseFloat($('#costtocust').val());
            if (isNaN(costtocust) || costtocust === 0) {
                $('#costtocust').val($('#SellingPrice1').val()).trigger('change');
            }
        });

    </script>
    <script>
        $('#costtocust').on('input change', function () {
            let value = $(this).val();
            value = value.replace(/[^0-9]/g, '');
            if (value) {
                value = Number(value).toLocaleString();
            }
            $(this).val(value);
        });

        $('#SellingPrice1').on('input change', function () {
            let value = $(this).val();
            value = value.replace(/[^0-9]/g, '');
            if (value) {
                value = Number(value).toLocaleString();
            }
            $(this).val(value);
        });
    </script>
    <script>

        function Search() {
            console.log("Search is ready!");
            const word = $('#wordForSearch').val();

            if (word.trim() === '') {
                alert('يرجى إدخال اسم العميل أو رقم الجوال للبحث.');
                return;
            }

            const apiUrl = `/Admin/Customer/SerachAboutCust/${encodeURIComponent(word)}`;

            $.ajax({
                url: apiUrl,
                type: 'GET',
                success: function (data) {
                    const tbody = $('table tbody');
                    tbody.empty();

                    if (Array.isArray(data) && data.length > 0) {
                        data.forEach(customer => {
                            tbody.append(`
                                <tr>
                                    <td class="text-end m-1" onclick="selectCustomer('${customer.custName}' , '${customer.id}')">${customer.custName}</td>
                                    <td class="text-end m-1" onclick="selectCustomer('${customer.custName}' , '${customer.id}')">${customer.id}</td>
                                </tr>
                             `);
                        });
                    } else {

                        let phoneNumber = data.custMob;

                        if (phoneNumber.startsWith('0')) {
                            phoneNumber = 964 + phoneNumber.slice(1);
                        }
                        tbody.append(`
                                <tr>
                                    <td class="text-end m-1">${data.custName}</td>
                                    <td class="text-end m-1">${data.id}</td>
                                </tr>
                                                    `);
                    }
                },
                error: function (xhr, status, error) {
                    console.error(`Error: ${xhr.status} - ${xhr.statusText}`);
                    alert('لم يتم العثور على بيانات العميل.');
                }
            });
        }

        function selectCustomer(customerName, iid) {
            console.log(customerName);
            $('#CustomerId11').val(iid);
            $('#CusName').val(customerName);
        }
    </script>
}