@using AinAlfahd.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Customer

@{
    ViewData["Title"] = "AddCustomer";
    Layout = "_Layout";
}

    <div class="container col-8 mt-5">
        <h2 class="text-center mb-4">إضافة عميل ذو خدمة شحن جوي</h2>
        <hr />
        <br />
        <a class="btn btn-group btn-primary" asp-area="" asp-controller="Home" asp-action="Index">العودة الى الشاشة الرئيسية </a>
        <br />
        <div>@TempData["Message"]</div>
        <form method="Post" role="form" asp-area="Admin" asp-controller="Customer" asp-action="SaveData" enctype="multipart/form-data">
            <div class="row">


                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="@Model.CustMob" class="float-end" >رقم جوال العميل</label>
                        <input asp-for="@Model.CustMob" class="form-control" />
                        <span asp-validation-for="@Model.CustMob" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="@Model.CustName" class="float-end">اسم العميل</label>
                        <input asp-for="@Model.CustName" class="form-control" />
                        <span asp-validation-for="@Model.CustName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <br />

            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="@Model.CustArea" class="float-end">منطقة العميل</label>
                        <select asp-for="@Model.CustArea" class="form-control" asp-items="ViewBag.Areas" class="float-start">
                        </select>

                        <span asp-validation-for="@Model.CustArea" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group">
                        <label asp-for="@Model.CustCity" class="float-end">مدينة العميل</label>
                        <select asp-for="@Model.CustCity" class="form-control" asp-items="ViewBag.Cities" class="float-start"></select>
                        <span asp-validation-for="@Model.CustCity" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" >
                        <label asp-for="@Model.CustLandmark" class="float-end">نقطة علام</label>
                        <input asp-for="@Model.CustLandmark" class="form-control" />
                        <span asp-validation-for="@Model.CustLandmark" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <input hidden asp-for="@Model.FullPackage" class="form-control" />
            <input hidden asp-for="@Model.Lat" class="form-control" />
            <input hidden asp-for="@Model.Lon" class="form-control" />
            <input hidden asp-for="@Model.InsertDt" class="form-control" />
            <input hidden asp-for="@Model.CustMob2" class="form-control" />
            <input hidden asp-for="@Model.CustProfile" class="form-control" />
            <input hidden asp-for="@Model.CustStatus" class="form-control" />
            <input hidden asp-for="@Model.Gisurl" class="form-control" />
            <input hidden asp-for="@Model.Hexcode" class="form-control" />
            <input hidden asp-for="@Model.Fbid" class="form-control" />
            <input hidden asp-for="@Model.Id" class="form-control" />


            <div class="row mt-5">
                <div class="col-5 text-center">
                    <button type="submit" class="btn btn-primary">حفظ</button>
                </div>
            </div>
        </form>
    </div>
